.error_window{
           background-image: linear-gradient(36deg, red, blue);
            width: 560px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30%;
            margin-left: 30%;
            border-radius: 60px; 
        }
.youtube_linkbar {
            background-image: linear-gradient(30deg, red, yellow);
            width: 1350px;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5%;
            margin-left: 5%;
            border-radius: 50px;
        }
        .yt_url_link_bar{
            width: 900px;
            height: 40px;
            border-radius: 30px;
            display: inline-block;
            border: none;
        }
        .get_button{
            background-color: blue;
            height: 40px;
            width: 100px;
            border-radius: 50px;
            border: none;
            border-color: blue;
            color: white;
            display: inline-block;
            font-size: 15px;
        }
        .yt_ch_selector{
            display: inline-block;
            border-radius: 45px;
            width: 90px;
            height: 40px;
            text-align: center;
            font-size: 15px;
        }
        .image_thumbnail{
            margin-right: 32%;
            margin-left: 32%;
            height: 320px;
            width: 560px;
            border-radius: 45px;
        }
        .yt_title{
            justify-content: center;
            text-align: center;
        }
        .Download_btn{
            background-color: blue;
            height: 40px;
            border-radius: 50px;
            border: none;
            border-color: blue;
            color: white;
            display: inline-block;
            font-size: 15px;
            margin: 2px;
        }
        .download_btn_list{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .mute_icon{
            height: 20px;
            width: 20px;
            margin-left: 8px;
        }
        